.button{
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary{
  background: #6FCF97;
  color:#2C3E50;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
}
